body {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
  font-size: 15px !important;
  color: #45494E !important;
  letter-spacing: .5px;
}

.search-bar {
  margin: 25px 0 20px 20px;
  width: 85%;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px 0 20px 0;
  padding: 10px;
  border 1px solid #ddd;
  border-radius: 4px;
}

.details {
  background-color: #eee;
}

.list-group {
  padding-right: .9375rem;
  padding-left: .9375rem;
}

.list-group-item:hover {
  background-color: #eee;
}
